.menuButton{
-fx-background-color: #057a49;
}
.menuButton:hover{
-fx-background-color: #005934;
}
.editButton{
-fx-font-weight : bold;
-fx-font-size: 26px;
-fx-background-color: #057a49;
}
.editButton:hover{
-fx-font-weight : bold;
-fx-font-size: 26px;
-fx-background-color: #005934;
}
.menu{
-fx-background-color: #2f423a;
}

.viewDetailsButton{
-fx-background-color: #11ba11; /*#03fc1c*/
-fx-font-weight: bold;
-fx-font-size: 20px;
-fx-font-family: "Arial";
}

.viewDetailsButton:hover{
-fx-background-color: #00e61f;
-fx-font-weight: bold;
-fx-font-size: 20px;
-fx-font-family: "Arial";
}

.deleteButton{
-fx-background-color: #e01929; /*#ff0000;*/
-fx-font-weight: bold;
-fx-font-size: 20px;
-fx-font-family: "Arial";
}

.deleteButton:hover{
-fx-background-color: #de0000;
-fx-font-weight: bold;
-fx-font-size: 20px;
-fx-font-family: "Arial";
}

.priceLabel{
-fx-font-weight: bold;
-fx-text-alignment: center;
-fx-font-size: 40px;
-fx-font-family: "Arial";
}

.titleLabel{
-fx-font-weight: bold;
-fx-text-alignment: center;
-fx-font-size: 40px;
-fx-font-family: "Arial";
}

.detailsLabels{
-fx-font-size: 26px;
-fx-font-family: "Arial";
-fx-font-weight: bold;
}

.detailsTitle{
-fx-font-size: 40px;
-fx-font-family: "Arial";
-fx-font-weight: bold;
}

.descriptionField{
-fx-font-size: 26px;
-fx-font-family: "Arial";
}

.statusText{
-fx-font-size: 20px;
-fx-font-family: Arial;
-fx-font-weight: bold;
}